<div v-if="!isLoggedIn">
    <h2>Inicio de sesión</h2>
    <input type="email" v-model="email" placeholder="Correo institucional" class="form-control mb-2">
    <button class="btn btn-primary mb-2" @click="solicitarToken">Solicitar Token</button>

    <div v-if="tokenSent" class="mb-2">
      <input type="text" v-model="token" placeholder="Token de 6 dígitos" class="form-control mb-2">
      <button class="btn btn-success" @click="validarToken">Validar Token</button>
    </div>
    <p class="text-danger">{{ loginMessage }}</p>
  </div>