<!-- C:\Users\GICOGERMANF\Pictures\GERMAN\funcional\qrHst\HostDimeQR_sails\views\pages\homepage.ejs -->

<div id="app" class="container mt-1">
  <!-- ========= Sección: Formulario Generar QR ========= -->
  <div class="row justify-content-center">
    <div class="col-md-10 bg-white p-4 shadow rounded">
      <h1 class="text-center mb-8">Generador de Código QR HostDime</h1>


      <!-- Input de URL -->
      <%- include('../partials/utm') %>



        <div class="container-fluid">
          <div class="container-fluid">
            <div class="row">
              <!-- cambio de on u off para accortar o no la url -->
              <div class="col-md-6 form-check form-switch mb-3">
                <input class="form-check-input" type="checkbox" id="shortSwitch" v-model="shortSwitch">
                <label class="form-check-label" for="shortSwitch">
                  ¿Desea acortar la URL?
                </label>
              </div>


              <!-- Input de URL Personalizada -->
              <div v-if="shortSwitch" class="col-md-6 mb-3">
                <label for="personalUrl" class="form-label">Ingresa tu URL personalizada </label>
                <input type="text" id="personalUrl" v-model="personalUrl" class="form-control"
                  placeholder="Ejemplo: mi-enlace" />
              </div>


              <!-- ✅ Mensajes de error claros -->
              <div v-if="errcustom === 'slugEnUso'" class="alert alert-warning">
                ⚠️ Este alias ya está en uso. Prueba otro.
              </div>
              <div v-else-if="errcustom === 'falloApi'" class="alert alert-warning">
                ⚠️Fallo api
              </div>
              <div v-else-if="errcustom === 'errorDesconocido'" class="alert alert-danger">
                ⚠️ Ocurrió un error inesperado. Intenta de nuevo.
              </div>


            </div>
          </div>

          <!-- Selección estilo traido desde label-styles.ejs  -->
          <%- include('./label-styles') %>



            <!-- Selección de Tamaño y Formato -->
            <div class="mb-3 row">

              <div class="col-sm-6">
                <label for="sizeInput" class="form-label">Tamaño (px)</label>
                <input type="number" id="sizeInput" v-model.number="size" class="form-control"
                  placeholder="Ingresa el tamaño en px" min="1" />
              </div>


              <div class="col-sm-6">
                <label for="typeSelect" class="form-label">Formato</label>
                <select v-model="type" id="typeSelect" class="form-select">
                  <option value="svg">SVG</option>
                  <option value="png">PNG</option>
                </select>
              </div>
            </div>

            <!-- Selección botones traido desde buttom-home.ejs.ejs  -->
            <%- include('./buttoms-home') %>
              <!-- URL corta generada -->




              <div v-if="shortUrl" class="alert alert-primary">
                <label for="">
                  <strong>URL final:</strong> <a :href="utmUrlGenerada" target="_blank"> {{ shortUrl }}</a>
                </label>
              </div>




              <div class="d-flex flex-row-reverse mt-3">
                <form method="POST" action="/session/logout">
                  <button type="submit" class="btn btn-danger">Cerrar Sesión</button>
                </form>
              </div>

        </div>



        <%- include('./modal-qr') %>
    </div>
  </div>
  <!-- /Modal -->
</div>

<!-- ========= /Fin sección Generar QR ========= -->