<!-- Modal para mostrar el QR generado -->
<div class="modal fade" id="qrModal" ref="qrModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Tu c칩digo QR</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body text-center" ref="qrModalBody">
        <!-- PNG -->
        <img v-if="type === 'png'" :src="qrImage" class="img-fluid mb-2" alt="C칩digo QR PNG" />

        <!-- SVG -->
        <img v-if="type === 'svg'" :src="blobUrl || qrImage" class="img-fluid mb-2" alt="C칩digo QR SVG" />

        <p class="mt-2">
          Short URL:
          <a :href="shortUrl" target="_blank">{{ shortUrl }}</a>
        </p>

        <button v-if="type === 'svg'" class="btn btn-primary mt-2" @click="abrirSVGEnNuevaPestana">
          Ver SVG en nueva pesta침a
        </button>


      </div>

      <!--
        -->


      <div class="modal-footer">
        <a v-if="qrImage" :href="qrImage" :download="`qr.${type}`" class="btn btn-info">
          Descargar QR
        </a>
      </div>

    </div>
  </div>
</div>