<div class="row justify-content-center">


  <form action="/token/validar" method="POST" class="col-auto">
    <div class="mb-3">
      <label for="token" class="form-label mt-5">
        <h2>
          <%= titulo %>
        </h2>
        <p>Te hemos enviado un código a: <strong>
            <%= email %>
          </strong></p>
      </label>
      <input type="hidden" name="email" value="<%= email %>" />
      <input type="text" name="token" placeholder="Ingresa el código" class="form-control mt-3" style="width:350px"
        required />
    </div>
    <button type="submit" class="btn btn-primary">Validar Token</button>

  </form>

</div>