<!----C:\Users\GICOGERMANF\Pictures\GERMAN\funcional\qrHst\HostDimeQR_sails\views\pages\view-with-data.ejs-->

<!DOCTYPE html>
<html>
<head>
  <title>Bienvenida</title>
</head>
<body>
  <h1>Hola, <%= nombreUsuario %>!</h1>
  <p>Tu rol es: <%= rol %></p>
  <a href="/demo/dashboard">Ir al generador de QR</a>
</body>
</html>
